@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #f1f1f1;
    min-height: 100vh;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.tx-normal {
    background-color: white;
    color: black;
}

section.tx-img {
    background-color: black;
    color: white;
}

section.tx-img > p {
    width: 400px;
    background-color:#0000005d;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}