@charset "UTF-8";

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

header {
    width: 100%;
}

header h1 {
    font-size: 2.5em;
}

header p {
    text-align: center;
    font-size: 2em;
    font-style: italic;
}

header menu {
    display: none;
}

main {
    width: 100%;
    padding: 20px;
}